{{> header}}
<head><title>Cart</title></head>
<section class="index-section">
        <div class="page-content">
            <div class="mb-5 text-center">
                <h1 class="font-weight-bold">Your cart</h1>
            </div>
            <table>
                <thead class="cart_row">
                    <tr>
                        <th colspan="2">Product</th>
                        <th class="cart-price">Price</th>
                        <th class="text-center sm-hide">Quantity</th>
                        <th class="text-right sm-hide">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr class="cart_row border-top border-bottom">
                        <td class="cart_proimg">
                            <div>
                                <a href="/product?id={{this.product._id}}"> <img class="cart__image" src="./assets/images/cart/cart_cottage.jpg" style="cursor: pointer;"></a>
                            </div>
                        </td>
                        <td class="cart_proname pr-3 sm-text-left">
                            <div class="item_title">
                                <span>{{this.product.name}}</span>
                            </div>
                            <form action="/remove_from_cart" method="POST">
                                <p class="sm-hide mb-0">
                                    <input id="#product_id" name="product_id" type="hidden"  value="{{this.product._id}}">
                                    <input id="#product_qty" name="product_qty" type="hidden"  value="{{this.qty}}">
                                    {{!-- <a href="#" class="mt-1 btn btn-outline-dark btn-sm">Remove</a> --}}
                                    <input type="submit" class="mt-1 btn btn-outline-dark btn-sm" name="product_btn" id="#product_btn" value="Remove">
                                </p>
                            </form>

                        </td>
                        <td class="cart_price">
                            <span id="#product_price">Rs. {{this.product.price}}</span>
                        </td>
                        <td class="text-right sm-hide">
                            <div class="text-center">
                                {{!-- <input class="cart__qty-input" type="number" value="1" min="0" pattern="[0-9]*" data-quantity-item="1"> --}}
                                <span id="#product_qty">{{this.qty}}</span>
                            </div>
                        </td>
                        <td class="text-right sm-hide">
                            <div>
                                <span class="text-right" id="#product_net_price">Rs. {{this.net_price}}</span>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="container mt-5">
                <div class="row text-right sm-text-center">
                    <div class="col-md-12">
                        <span class="h4">Subtotal</span>
                        <span class="cart__subtotal"><span>Rs. {{cart_total}}</span</span></span>
                    </div>
                    <div class="col-md-12 rte pt-1 h6 mb-5">Tax included and shipping calculated at checkout
                    </div>
                    <div class="col-md-12 cart_submit-controls">
                        <a href="/products" class="btn btn-sec cart_submit-control cart_continue sm-hide hvr-icon-back" style="font-size: 16px;">
                            <i class="fa fa-arrow-left hvr-icon h4">&nbsp;&nbsp;</i> Continue shopping
                        </a>
                        {{!-- <input type="submit" name="update" class="btn sm-hide btn-sec cart_submit-control" value="Update" style="font-size: 16px;"> --}}
                        <input type="submit" name="checkout" class="btn btn--secondary cart__submit cart_submit-control" value="Check out" style="font-size: 16px;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> freq }}

{{> footera }}