{{> header}}

<head>
	<title>Products</title>
	<script src="assets/js/getPriceFormat.js"></script>
</head>

<body onload="getPriceFormat()">
	<section class="spicehead text-center main-col main-font">
		<h3>Spice Boxes</h3>
		<p class="sec-col">Add rich vibes of traditional flavors to your cooking space and make your spice storage organized
			and aesthetic with elegantly crafted wooden spice boxes, exclusively brought to you by HASTKALA.</h6>
	</section>
	<hr>
	<section>
		<div class="container-fluid">
			<div class="row text-center align-items-center">
				<div class="col-md-4 col-6">

					<ul class="nav grid-list justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item align-self-center" role="presentation">View As</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
								aria-controls="pills-home" aria-selected="true"><i class="fa fa-th" aria-hidden="true"></i></a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
								aria-controls="pills-profile" aria-selected="false"><i class="fa fa-th-list" aria-hidden="true"></i></a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-6">
					<ul class="mb-0">
						<li class="nav-item align-self-center" role="presentation"><i>{{product_count}} Product(s)</i></li>
					</ul>
				</div>
				<div class="col-md-4 col-12">
					<select class="filters-toolbar__input filters-toolbar__input--sort">
						<option value="best-selling">Best Selling</option>
						<option value="manual">Featured</option>
						<option value="price-ascending">Price, low to high</option>
						<option value="price-descending">Price, high to low</option>
						<option value="title-ascending">Alphabetically, A-Z</option>
						<option value="title-descending">Alphabetically, Z-A</option>
						<option value="created-descending">Date, new to old</option>
						<option value="created-ascending">Date, old to new</option>
					</select>

				</div>
			</div>
		</div>
	</section>
	<hr>
	<div class="container-lg spicehead d-flex pt-0 pb-0">
		<span>
			<div class="dropdown">
				<a class="btn dropdown-toggle filter-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown"
					aria-expanded="false">Price</a>
				<div class="dropdown-menu filter-btn-menu pricemenu" aria-labelledby="dropdownMenuButton"></div>
			</div>
		</span>
		<span>
			<div class="dropdown">
				<a class="btn dropdown-toggle filter-btn " type="button" id="dropdownMenuButton1" data-toggle="dropdown"
					aria-expanded="false">Material</a>
				<div class="dropdown-menu filter-btn-menu materialmenu" aria-labelledby="dropdownMenuButton1"
					style="left: -100px;">
					<div class="row">
						<div class="col-md-4">
							<input class="ml-3" type="checkbox">
							<label class="con ">Brass(2)
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-md-4">
							<input class="ml-3" type="checkbox">
							<label class="con ">Mango Wood(5)
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-md-4">
							<input class="ml-3" type="checkbox">
							<label class="con ">Sheesham Wood(12)
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-md-4">
							<input class="ml-3" type="checkbox">
							<label class="con ">Teak Wood(1)
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>

						<div class="col-md-4">
							<a name="" id="" class="btn btn-dark  ml-3" href="#" role="button">Apply</a>
						</div>
					</div>
				</div>
			</div>
		</span>
		<span>
			<div class="dropdown">
				<a class="btn dropdown-toggle filter-btn" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
					aria-expanded="false">Art Form</a>
				<div class="dropdown-menu filter-btn-menu artmenu" aria-labelledby="dropdownMenuButton2"
					style="left: -105% !important;">
					<div class="row">
						<div class="col-md-4">
							<a class="ml-3 mb-5 text-decoration-none text-black-50" href="#">Hand-Carved(2)</a>
						</div>
						<div class="col-md-4">
							<a class="ml-3 mb-5 text-decoration-none text-black-50" href="#">Hand-Carved(2)</a>

						</div>
						<div class="col-md-4">
							<a class="ml-3 mb-5 text-decoration-none text-black-50" href="#">Hand-Carved(2)</a>

						</div>
						<div class="col-md-4">
							<a class="ml-3 mb-5 text-decoration-none text-black-50" href="#">Hand-Carved(2)</a>

						</div>
						<div class="col-md-4">
							<a class="ml-3 mb-5 text-decoration-none text-black-50" href="#">Hand-Carved(2)</a>

						</div>
						<div class="col-md-4">

						</div>

						<div class="col-md-4">
							<a name="" id="" class="btn btn-dark  ml-3" href="#" role="button">Apply</a>
						</div>

					</div>
				</div>
			</div>
		</span>
	</div>

	<div class="tab-content  " id="pills-tabContent">
		<div class="tab-pane spicehead fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="row">
				{{#each product_list}}
				<div class="col-md-4">
					<a href="/product?id={{this._id}}">
						<div class="gridview-img mb-3">
							<img src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg">
							{{!-- <div class="middle">
								<button href="/cart?id={{this._id}}" class="btn btn-dark"><i class="fa fa-shopping-cart "
										aria-hidden="true"></i></button>
							</div> --}}
						</div>
					</a>
					<p>{{ this.name }}</p>
					<p> <span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span>7 Reviews</span>
					</p>
					<p><small class="text-muted" style="text-decoration:line-through; "><span
								class="price-content">2000</span></small>&emsp;<span class="price-content">{{this.price}}</span></p>
				</div>
				{{/each}}
			</div>
		</div>
		<div class="tab-pane fade spicehead " id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
			<div class="row">
				<div class="col-md-2 col-3">
					<a href="#"><img src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg"></a>
				</div>
				<div class="col-md-8 col-6 align-self-center">
					<p>"Twelve Blends" Spice Box with 12 containers & spoon in Sheesham wood</p>
					<p> <span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span><i class="fa fa-star" aria-hidden="true"></i></span>
						<span>7 Reviews</span>
					</p>
					<p>Sale</p>
				</div>
				<div class="col-md-2 col-3 align-self-center">
					<p class="text-muted" style="text-decoration:line-through;">Rs.1890</p>
					<p>Rs.1600</p>
				</div>
			</div>
		</div>
	</div>
	{{> footera}}
</body>