{{> header}}
<section class="spicehead">
        <div class="row">
            <div class="col-md-6">
                <div class="container d-flex ">
                    <section id="default">
                        <div class="row">
                            <div class="large-5 column">
                                <div class="xzoom-container "> <img class="xzoom mb-3" id="xzoom-default" src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg" width="100%;" xoriginal="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg" />
                                    <div class="xzoom-thumbs">
                                        <a href="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/products/EL-005-614_B_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_B_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/products/EL-005-614_C_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_C_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/products/EL-005-614_D_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_D_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/products/EL-005-614_E_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_E_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/EL-005-614_F_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_F_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/products/EL-005-614_G_343f57ef-d810-4dbc-bd0a-e2838b3a42ab_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_G_343f57ef-d810-4dbc-bd0a-e2838b3a42ab_1024x1024@2x.jpg" alt="Product Image"></a>
                                        <a href="./assets/images/products/EL-005-614_H_1024x1024@2x.jpg">
                                            <img class="xzoom-gallery" width="80" src="./assets/images/products/EL-005-614_H_1024x1024@2x.jpg" alt="Product Image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-6">
                <p style="font-size: xx-large;">{{product.name}}</p>
                <p> <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span>7 Reviews</span>
                </p>
                <span class="text-muted " style="text-decoration:line-through;font-size: large;">Rs.2000</span><span style="font-size: large;">&emsp;Rs.{{product.price}} Sale</p>
                <p class="text-muted">Tax Included.</p>
                {{!-- <form action="/cart?id={{product._id}}" method="POST"> --}}
                <form action="/add_to_cart" method="POST">
                    <p class="text-left sm-hide">Quantity
                        <div class="text-left">
                            <input id="#product_id" name="product_id" type="hidden"  value="{{product._id}}">
                            <input name="product_qty" id = "#product_qty" class="cart__qty-input" type="number" value="1" min="0" pattern="[0-9]*" data-quantity-item="1">
                        </div>
                    </p>
                    <input type="submit" class="btn addtocart-btn mb-2 w-50" name="product_btn" id="#product_btn" value="CART">
                    <input type="submit" class="btn buynow-btn w-50" name="product_btn" id="#product_btn" value="BUY">
                </form>
                <br><br>
<p>
  <strong>  SKU:</strong>
{{product._id}}
</p><p>
<strong>MATERIAL:</strong>
{{product.info.material}}
</p><p>
<strong>DIMENSIONS:</strong>
{{product.info.dimensions}}
</p><p>
<strong>ART TYPE:</strong>
{{product.info.art_type}}
</p><p>
<strong>CAPACITY: </strong>
{{product.info.capacity}}
</p>
    <div class="row" style="text-align: center;">
     <div class="col-md-3" style="width: 25.0411%; border: none; font-size: 70%; vertical-align: text-top; text-align: center;"><img src="https://i.ibb.co/tKBK977/10.png" width="100">
      <br>Cash On Delivery Available</div>
     <div class="col-md-3" style="width: 25.0413%; border: none; font-size: 70%; vertical-align: text-top; text-align: center;"><img src="https://i.ibb.co/jw7TtbL/8.png" width="100">
      <br>Free Prepaid Shipping in India</div>
     <div class="col-md-3" style="width: 25.0413%; border: none; font-size: 70%; vertical-align: text-top; text-align: center;"><img src="https://i.ibb.co/Sw7N9ZC/12.png" width="100">
      <br>Easy Returns</div>
     <div class="col-md-3" style="width: 25.0413%; border: none; font-size: 70%; vertical-align: text-top; text-align: center;"><img src="https://i.ibb.co/yFnG428/9.png" width="100 ">
      <br>Ships in 48 Hours</div>
     </div><br>
     <a href="/cart" class="btn btn-outline-secondary w-25 " style="height: 40px;font-size:13px;"><i class="fa fa-facebook" aria-hidden="true"></i> SHARE</a>
     <a href="/cart" class="btn btn-outline-secondary w-25 " style="height: 40px;font-size:13px;"><i class="fa fa-twitter" aria-hidden="true"></i>TWEET</a>
     <a href="/cart" class="btn btn-outline-secondary w-25 align-self-center" style="height: 40px;font-size:13px;"><i class="fa fa-pinterest" aria-hidden="true">PIN IT</i></a>
            </div>
        </div>
    </section>

    {{> freq }}


    <section class="spicehead">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" style="color: black;" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" style="color: black;" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Specifications</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" style="color: black;" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Care Of Instructions</a>
            </li>
        </ul>
        <div class="tab-content tabborder p-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <strong>  FEATURES: </strong>

                <br> - Ideal for storing 12 different types spices or refreshments.
                <br> - Can also be used to store knick-knacks or used as a medicine box after removing the containers.
                <br> - Comes with 12 detachable containers (45 ML) and a spoon inside made of sheesham wood.
                <br> - The volume of each container is 45 ML.
                <br> - Comes with 12 containers, 1 box & 1 spoon.
                <br> - The box is polished with a lacquer.
                <br> - Comes with a see-through lid made of glass.
                <br> - Comes with a metallic lock on the front.
                <br> - The Spice Box is Handcrafted in Sheesham Wood and Polished with lacquer.
                <br> - Comes in brown colour.
                <br> - Comes in the following dimensions:
                <br> SPICE BOX: 9.9" (L), 7.7" (W), 2.1" (H),
                <br>CONTAINERS: 2.2" (L), 2.2" (W), 1.1" (H),
                <br> SPOON: 5.5" (L), 0.9" (W) Inches in size.</div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <p>
                    <strong>  SKU:</strong><br> EL-005-614
                </p>
                <p>
                    <strong>MATERIAL:</strong><br> Sheesham Wood
                </p>
                <p>
                    <strong>DIMENSIONS:</strong><br> SPICE BOX: (L * W * H) = (9.9 * 7.7 * 2.1),<br> CONTAINERS: (L * W * H) = (2.2 * 2.2 * 1.1),<br> SPOON: (L * W ) = (5.5 * 0.9) Inch
                </p>
                <p>
                    <strong>ART TYPE:</strong><br> The Spice Box is Handcrafted in Sheesham Wood and Polished with Food Safe Lacquer
                </p>
                <p>
                    <strong>CAPACITY:</strong><br> Each Container: 45 ML
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                1) Keep away from water.<br> 2) Remove the dust with a mildly wet cloth.
            </div>
        </div>
    </section>
    <section>
        <center>
            <div class="test-head-full mb-5 align-self-center"> 
                <span style="font-size: 1.6rem;">Let customers speak for us</span>
                <span>
                <a ><i class="fa fa-star" aria-hidden="true"></i></a>
                <a ><i class="fa fa-star" aria-hidden="true"></i></a>
                <a ><i class="fa fa-star" aria-hidden="true"></i></a>
                <a ><i class="fa fa-star" aria-hidden="true"></i></a>
                <a ><i class="fa fa-star-half" aria-hidden="true"></i></a></span>
                <span>
                from 235 reviews
              </span>
                </span>
            </div>
        </center>
        <div class="container test-scroll">
            <div class="row test-height mb-5">
                <div class="col-md-2 col-3 align-self-center">
                    <a href="#"><img src="./assets/images/products/EL-005-614_A_1024x1024@2x.jpg"></a>
                </div>
                <div class="col-md-8 col-6 align-self-center">
                    <span><strong>Amritanshi</strong> reviewed the "Twelve Blends" Spice Box...</span>&emsp14;&emsp13;
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <p><strong>Mugs look super rich</strong></p>
                    <p>I ordered 16 mugs to gift my friends...Everyone liked it so much... </p>
                </div>
                <div class="col-md-2 col-3 align-self-center">
                    <p>02/01/2021</p>
                </div>
            </div>
            <hr>
            
    </section>
{{> footera}}